   <div class="jumbotron">
     <h1 class="title">优职招聘</h1>
     <p class="slogan">优选- <b>RMB10K+薪酬</b> -工作机会
     <br>

     <br>
     优选职位，为优秀的你 !
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上行动</a></p>
   </div>
